---
---
@import url(//fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

/* copyright 2015 by mike lodato (zvxryb@gmail.com)
   all rights reserved */

$ml-primary-bg:          #e8e8e8;
$ml-primary-light-bg:    $ml-primary-bg + #040404;
$ml-primary-dark-bg:     $ml-primary-bg - #040404;
$ml-primary-fg:          #202020;
$ml-primary-dull-fg:     #a0a0a0;
$ml-primary-link-fg:     $ml-primary-fg + #408000;
$ml-primary-hover-fg:    $ml-primary-fg + #60a000;
$ml-primary-visited-fg:  $ml-primary-fg + #004060;

$ml-accent-bg:           #202020;
$ml-accent-fg:           #e8e8e8;
$ml-accent-dull-fg:      #606060;
$ml-accent-light-bg:     $ml-accent-bg + #040404;
$ml-accent-light-fg:     $ml-accent-fg + #040404;
$ml-accent-dark-bg:      $ml-accent-bg - #040404;
$ml-accent-dark-fg:      $ml-accent-fg - #040404;

$ml-code-bg:          $ml-accent-bg;
$ml-code-fg:          $ml-accent-fg - #202020;
$ml-code-comment-fg:  $ml-code-fg   - #606060;
$ml-code-operator-fg: #ffffff;
$ml-code-keyword-fg:  #8040ff;
$ml-code-storage-fg:  #4080ff;
$ml-code-function-fg: #ffa040;
$ml-code-number-fg:   #40ff40;
$ml-code-meta-fg:     #ff4040;

$ml-title-font: 'Cinzel', serif;
$ml-title-height: 8rem;
$ml-title-width: 18rem;
$ml-text-font:  'Droid Sans', sans-serif;
$ml-fixed-font: 'Inconsolata', monospace;
$ml-content-width:  60rem;
$ml-content-padding: 2rem;
$ml-total-width: $ml-title-width + $ml-content-width + 2 * $ml-content-padding;

@mixin headings {
	h1, h2, h3, h4, h5, h6 { @content }
}

@mixin lists {
	ul, ol { @content }
}

@mixin portrait {
	@media (orientation:portrait), (max-width: $ml-total-width) { @content; }
}

@mixin landscape {
	@media (orientation:landscape) and (min-width: $ml-total-width) { @content; }
}

* {
	padding: 0;
	margin:  0;
	max-height: 10000000px; /* disable "font boosting" */
}

html {
	height: 100%;
	font-size: 11pt;
	@media (min-resolution: 2dppx) { font-size: 16pt; }
}

body {
	display: flex;

	@include portrait  { flex-direction: column; }
	@include landscape { flex-direction: row;    }
	flex-wrap:   nowrap;
	align-items: stretch;

	@include portrait  { min-height: 100%; }
	@include landscape {     height: 100%; }

	background-color: $ml-primary-dark-bg;
	color:            $ml-primary-fg;
	font-family:      $ml-text-font;

	a         { color: $ml-primary-link-fg;    }
	a:hover   { color: $ml-primary-hover-fg;   }
	a:visited { color: $ml-primary-visited-fg; }
}

pre, code {
	font-family: $ml-fixed-font;
	           color: $ml-code-fg;
	background-color: $ml-code-bg;
	.comment                  { color: $ml-code-comment-fg;  }
	.keyword                  { color: $ml-code-keyword-fg;  }
	.keyword.operator         { color: $ml-code-operator-fg; }
	.entity.name.function     { color: $ml-code-function-fg; }
	.meta.preprocessor        { color: $ml-code-meta-fg;     }
	.storage                  { color: $ml-code-storage-fg;  }
	.storage.type             { color: $ml-code-storage-fg + #003000; }
	.storage.modifier         { color: $ml-code-storage-fg + #300000; }
	.constant.numeric         { color: $ml-code-number-fg;   }
	.constant.numeric.integer { color: $ml-code-number-fg + #300000; }
	.constant.numeric.float   { color: $ml-code-number-fg + #000030; }
}

a { text-decoration: inherit; }

p {
	margin-top:    1.0rem;
	margin-bottom: 1.0rem;
	line-height:   200%;
}

@include headings {
	font-family: $ml-title-font;
	font-weight: 400;
}

$header_size: 1.025;
@for $i from 0 to 6 {
	h#{6 - $i} { font-size: $header_size * 1rem; }
	$header_size: $header_size * $header_size;
}

ul {
	list-style-type: none;
}

@include lists {
	margin-top:    1.0rem;
	margin-bottom: 1.0rem;

	> li {
		padding-left:   5.0rem;
		padding-top:    0.4rem;
		padding-bottom: 0.4rem;
	}
	> li:nth-child(even) { background-color: $ml-primary-dark-bg;  }
	> li:nth-child(odd)  { background-color: $ml-primary-light-bg; }
}

li > {
	@include lists {
		margin: 0;
		> li:nth-child(even) { background-color: inherit; }
		> li:nth-child(odd)  { background-color: inherit; }
	}
}

input {
	font-family: $ml-fixed-font;
	background-color: $ml-primary-bg - #101010;
	           color: $ml-primary-fg;
	border-style: solid;
	border-width: 1px;
	border-color: $ml-primary-bg - #181818;
	padding: 0.2rem;
}

input:disabled {
	color: ($ml-primary-fg - #101010 + $ml-primary-bg) / 2;
}

input[type=number] {
	-moz-appearance: textfield;
}

#ml-header {
	min-height: $ml-title-height;
	min-width:  $ml-title-width;
	
	@include portrait { align-self: stretch; }

	display: flex;
	@include portrait  { flex-direction: row;    }
	@include landscape { flex-direction: column; }

	background-color: $ml-accent-bg;
	           color: $ml-accent-fg;

	@include headings {
		border-bottom: 1px solid $ml-accent-dull-fg;
	}

	a {
		color: inherit;
	}

	+ * {
		flex-grow: 1;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		@include landscape {
			height: 100%;
			overflow-y: scroll;
		}
	}
}

#ml-title {
	min-height: $ml-title-height;
	min-width:  $ml-title-width;

	> h1 {
		text-align:    center;
		margin-top:    0.80rem;
		margin-bottom: 0.25rem;
	}

	> h2 {
		text-align:    right;
		margin-right:  2.00rem;
		margin-top:    0.25rem;
		border-bottom: none;
	}
}

#ml-nav {
	flex-grow: 1;

	display: flex;
	@include portrait {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-end;
	}
	@include landscape {
		flex-direction: column;
		justify-content: flex-start;
	}
	align-items: stretch;

	.ml-item {
		min-width: 8rem;
		padding: 1rem;
	}

	.ml-item:nth-child(odd) {
		background-color: $ml-accent-light-bg;
		           color: $ml-accent-light-fg;
	}

	.ml-item:nth-child(even) {
		background-color: $ml-accent-dark-bg;
		           color: $ml-accent-dark-fg;
	}
}

#ml-content {
	flex-grow: 1;

	min-width: 40rem;
	max-width: $ml-content-width;

	padding-left:  $ml-content-padding;
	padding-right: $ml-content-padding;
}

.ml-post, .ml-section {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.ml-header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;

		padding-left:   1.0rem;
		padding-right:  1.0rem;
		padding-top:    0.5rem;
		padding-bottom: 0.5rem;

		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: $ml-primary-fg;

		h1 {
			flex-grow: 1;
			text-align: left;
		}

		.ml-date {
			flex-grow: 1;
			color: $ml-accent-dull-fg;
			text-align: right;
		}
	}

	.ml-content {
		background-color: $ml-primary-bg;
		           color: $ml-primary-fg;

		padding:  1rem;

		p { padding-left: 3rem; }

		pre {
			font-family: $ml-fixed-font;
			margin-top:     1rem;
			margin-bottom:  1rem;
			margin-left:   -1rem;
			margin-right:  -1rem;
			padding-top:    1rem;
			padding-bottom: 1rem;
			padding-left:   6rem;
			padding-right:  1rem;
			overflow-x: auto;
		}
	}

	.ml-footer {
		padding-left:   1.0rem;
		padding-right:  1.0rem;
		padding-top:    0.5rem;
		padding-bottom: 0.5rem;

		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: $ml-primary-fg;
	}
}

.ml-split {
	display: flex;
	flex-direction: row;

	> * { flex-grow: 1; }
}

.ml-left  { text-align: left;  }
.ml-right { text-align: right; }

.ml-indent { padding-left: 2rem; }

