---
---
@import url(//fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

/* copyright 2015 by mike lodato (zvxryb@gmail.com)
   all rights reserved */

$ml-primary-bg:          #e8e8e8;
$ml-primary-light-bg:    $ml-primary-bg + #040404;
$ml-primary-dark-bg:     $ml-primary-bg - #040404;
$ml-primary-fg:          #202020;
$ml-primary-dull-fg:     #a0a0a0;
$ml-primary-link-fg:     $ml-primary-fg + #408000;
$ml-primary-hover-fg:    $ml-primary-fg + #60a000;
$ml-primary-visited-fg:  $ml-primary-fg + #004060;

$ml-accent-bg:           #202020;
$ml-accent-fg:           #e8e8e8;
$ml-accent-dull-fg:      #606060;
$ml-accent-light-bg:     $ml-accent-bg + #040404;
$ml-accent-light-fg:     $ml-accent-fg + #040404;
$ml-accent-dark-bg:      $ml-accent-bg - #040404;
$ml-accent-dark-fg:      $ml-accent-fg - #040404;

$ml-code-bg:          $ml-primary-dark-bg - #040404;
$ml-code-fg:          $ml-primary-fg - #202020;
$ml-code-comment-fg:  $ml-code-fg    + #808080;
$ml-code-keyword-fg:  #2060d0;
$ml-code-function-fg: #c06020;
$ml-code-number-fg:   #20a020;
$ml-code-meta-fg:     #d02020;

$ml-title-font: 'Cinzel', serif;
$ml-title-width: 18rem;
$ml-text-font:  'Droid Sans', sans-serif;
$ml-fixed-font: 'Inconsolata', monospace;
$ml-content-min-width: 40rem;
$ml-content-max-width: 60rem;
$ml-content-padding: 2rem;
$ml-total-min-width: $ml-title-width + $ml-content-min-width + 2 * $ml-content-padding;
$ml-total-max-width: $ml-title-width + $ml-content-max-width + 2 * $ml-content-padding;

@mixin headings {
	h1, h2, h3, h4, h5, h6 { @content }
}

@mixin lists {
	ul, ol { @content }
}

@mixin portrait {
	@media (orientation:portrait), (max-width: $ml-total-max-width) { @content; }
}

@mixin landscape {
	@media (orientation:landscape) and (min-width: $ml-total-max-width) { @content; }
}

@mixin display-flex {
	display: -webkit-flex;
	display: flex;
}

@mixin align-items($value) {
	-webkit-align-items: $value;
	align-items: $value;
}

@mixin align-self($value) {
	-webkit-align-self: $value;
	align-self: $value;
}

@mixin flex-direction($value) {
	-webkit-flex-direction: $value;
	flex-direction: $value;
}

@mixin flex-grow($value) {
	-webkit-flex-grow: $value;
	flex-grow: $value;
}

@mixin flex-wrap($value) {
	-webkit-flex-wrap: $value;
	flex-wrap: $value;
}

@mixin justify-content($value) {
	-webkit-justify-content: $value;
	justify-content: $value;
}

* {
	padding: 0;
	margin:  0;
	max-height: 10000000px; /* disable "font boosting" */
}

html {
	height: 100%;
	font-size: 11pt;
	@media (min-resolution: 2dppx) { font-size: 16pt; }
}

body {
	@include display-flex;

	min-width: $ml-total-min-width;

	@include portrait  { @include flex-direction(column); }
	@include landscape { @include flex-direction(row   ); }
	@include flex-wrap(nowrap);
	@include align-items(stretch);

	@include portrait  { min-height: 100%; }
	@include landscape {     height: 100%; }

	background-color: $ml-primary-dark-bg;
	color:            $ml-primary-fg;
	font-family:      $ml-text-font;

	a         { color: $ml-primary-link-fg;    }
	a:hover   { color: $ml-primary-hover-fg;   }
	a:visited { color: $ml-primary-visited-fg; }
}

.ml-code-block, pre, code {
	font-family: $ml-fixed-font;
}
.ml-code-block {
	           color: $ml-code-fg;
	background-color: $ml-code-bg;
	.hljs-comment      { color: $ml-code-comment-fg;  }
	.hljs-keyword      { color: $ml-code-keyword-fg;  }
	.hljs-built_in     { color: $ml-code-function-fg; }
	.hljs-preprocessor { color: $ml-code-meta-fg;     }
	.hljs-number       { color: $ml-code-number-fg;   }
}

a { text-decoration: inherit; }

@include headings {
	font-family: $ml-title-font;
	font-weight: 400;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
	counter-reset: itemNumber;
	> li::before {
		display: inline-block;
		width:         2.0rem;
		margin-left:  -2.5rem;
		padding-right: 0.5rem;
		counter-increment: itemNumber;
		content: counter(itemNumber) ")";
		text-align: right;
	}
}

@include lists {
	margin-top:    1.0rem;
	margin-bottom: 1.0rem;

	> li {
		padding-left:   5.0rem;
		padding-top:    0.4rem;
		padding-bottom: 0.4rem;
	}
	> li:nth-child(even) { background-color: $ml-primary-dark-bg;  }
	> li:nth-child(odd)  { background-color: $ml-primary-light-bg; }
}

li > {
	@include lists {
		margin: 0;
		> li:nth-child(even) { background-color: inherit; }
		> li:nth-child(odd)  { background-color: inherit; }
	}
}

input {
	font-family: $ml-fixed-font;
	background-color: $ml-primary-bg - #101010;
	           color: $ml-primary-fg;
	border-style: solid;
	border-width: 1px;
	border-color: $ml-primary-bg - #181818;
	padding: 0.2rem;
}

input:disabled {
	color: ($ml-primary-fg - #101010 + $ml-primary-bg) / 2;
}

input[type=number] {
	-moz-appearance: textfield;
}

#ml-header {
	@include landscape { width: $ml-title-width; }
	
	@include portrait { @include align-self(stretch); }

	@include display-flex;
	@include portrait  { @include flex-direction(row   ); }
	@include landscape { @include flex-direction(column); }

	background-color: $ml-accent-bg;
	           color: $ml-accent-fg;

	@include landscape {
		@include headings {
			border-bottom: 1px solid $ml-accent-dull-fg;
		}
	}

	+ * {
		@include flex-grow(1);
		
		@include display-flex;
		@include flex-direction(row);
		@include justify-content(center);
		
		@include landscape {
			height: 100%;
			overflow-y: scroll;
		}
	}
}

#ml-title {
	> h1 {
		text-align:    center;
		font-size:     2.40rem;
		margin-top:    0.80rem;
		margin-bottom: 0.25rem;
	}

	> h2 {
		text-align:    right;
		font-size:     1.80rem;
		margin-right:  2.00rem;
		margin-top:    0.25rem;
		margin-bottom: 0.80rem;
		border-bottom: none;
	}
	
	@include landscape { min-height: 8rem; }
	
	@include portrait {
		> h1, > h2 { display: inline-block; }
		> h1 {
			padding-left:  1.2rem;
			padding-right: 1.2rem;
		}
	}

	color: inherit;
}

#ml-nav {
	@include display-flex;
	@include portrait {
		@include flex-grow(1);
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include justify-content(flex-end);
	}
	@include landscape {
		@include flex-direction(column);
		@include justify-content(flex-start);
	}
	@include align-items(stretch);

	.ml-item {
		min-width: 8rem;
		padding: 1.5rem;
		
		.ml-icon {
			float: right;
			color: $ml-accent-dull-fg;
		}
		
		@include portrait {
			min-width: 0;
			.ml-text { display: none; }
			.ml-icon {
				float: none;
				color: inherit;
			}
		}
	}

	.ml-item:nth-child(odd) {
		background-color: $ml-accent-light-bg;
		           color: $ml-accent-light-fg;
	}

	.ml-item:nth-child(even) {
		background-color: $ml-accent-dark-bg;
		           color: $ml-accent-dark-fg;
	}

	a { color: inherit; }
}

#ml-about {
	@include landscape { @include flex-grow(1); }
	@include portrait  { display: none; }
	@include align-self(center);
	
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(center);
	
	padding: 1rem;
	
	color: $ml-accent-dull-fg;
	font-size: 9pt;
	line-height: 120%;
	
	p {
		margin-top:    1em;
		margin-bottom: 0em;
	}
}

#ml-content {
	@include flex-grow(1);

	min-width: 40rem;
	max-width: $ml-content-max-width;

	padding-left:  $ml-content-padding;
	padding-right: $ml-content-padding;
}

.ml-fade-down {
	position: absolute;
	height: 10rem;
	left:    0;
	right:   0;
	bottom:  0;
	pointer-events: none;
}

.ml-post, .ml-section {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.ml-header {
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include align-items(flex-end);

		padding-left:   1.0rem;
		padding-right:  1.0rem;
		padding-top:    0.5rem;
		padding-bottom: 0.5rem;

		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: $ml-primary-fg;

		.ml-title {
			@include flex-grow(1);
			text-align: left;
			h1 { font-size: 2.2rem; }
			h2 { font-size: 1.6rem; }
		}

		.ml-date {
			@include flex-grow(1);
			color: $ml-accent-dull-fg;
			text-align: right;
		}
	}

	.ml-content {
		background-color: $ml-primary-bg;
		           color: $ml-primary-fg;

		position: relative;
		padding:  1rem;

		> p {
			padding-left:  3rem;
			margin-top:    1rem;
			margin-bottom: 1rem;
			line-height:   200%;
		}

		.ml-fade-down {
			background: linear-gradient(to bottom, rgba($ml-primary-bg, 0.0), $ml-primary-bg);
		}

		.ml-code-block {
			font-family: $ml-fixed-font;
			font-size: 10pt;
			margin-top:     1rem;
			margin-bottom:  1rem;
			margin-left:   -1rem;
			margin-right:  -1rem;
			
			> div {
				position: relative;
				overflow: hidden;
				.ml-fade-down {
					background: linear-gradient(to bottom, rgba($ml-code-bg, 0.0), $ml-code-bg);
				}
			}
			
			.ml-full {
				max-height: none;
				overflow-y: hidden;
				overflow-x: auto;
			}
			.ml-partial {
				max-height: 40rem;
				overflow-y: hidden;
				overflow-x: hidden;
			}
			
			.ml-toggle {
				padding-bottom: 1rem;
				text-align: center;
			}
		}
		pre {
			padding-top:    1rem;
			padding-bottom: 1rem;
			padding-left:   6rem;
			padding-right:  1rem;
		}
	}

	.ml-footer {
		padding-left:   1.0rem;
		padding-right:  1.0rem;
		padding-top:    0.5rem;
		padding-bottom: 0.5rem;

		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: $ml-primary-fg;

		text-align: right;
	}
}

.ml-split {
	@include display-flex;
	@include flex-direction(row);

	> * { @include flex-grow(1); }
}

.ml-left  { text-align: left;  }
.ml-right { text-align: right; }

.ml-indent { padding-left: 2rem; }

