{% for entry in entries %}
	<div class='ml-post'>
		<div class='ml-header'>
			<div class='ml-title'>
				<h1>{{ entry.title }}</h1>
				{% if entry.subtitle %}
					<h2>{{ entry.subtitle }}</h2>
				{% endif %}
			</div>
			<span class='ml-date'>{{ entry.date | date: "%Y %b %-d, %a" }}</span>
		</div>
		<div class='ml-content'>
			{{ entry.excerpt | markdownify }}
			<div class='ml-fade-down'></div>
		</div>
		<div class='ml-footer ml-right'>
			<a href='{{ entry.url }}'>
				<b>Continue Reading</b> <i class='fa fa-chevron-right'></i>
			</a>
		</div>
	</div>
{% endfor %}

