---
cdnjs_libs: https://cdnjs.cloudflare.com/ajax/libs
---
<!DOCTYPE html>
<!-- copyright 2015 by mike lodato (zvxryb@gmail.com)
     all rights reserved -->
<html>
	<head>
		<meta charset='UTF-8'>
		<title>{{ site.data.info.name }}{% if page.section %}'s {{ page.section }}{% endif %}{% if page.title %} - {{ page.title }}{% endif %}</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'></link>
		<link rel='stylesheet' href='/style/main.css'></link>
		<script src='{{ layout.cdnjs_libs }}/es5-shim/4.5.10/es5-shim.min.js' integrity='sha384-6AZVlZIYRgV+Vg2jmn9KbE0VpOicRJU+zvRsokiH6qtJNvoVD9C19VbcYzbU2bQG' crossorigin='anonymous'></script>
		<script src='{{ layout.cdnjs_libs }}/es6-shim/0.35.3/es6-shim.min.js' integrity='sha384-MTZNBkn5Y7nVZWpuhBAvvApR0Gvy9pfJduA19jcBR2VyRUnBHsI5jMQpUo2NAuN1' crossorigin='anonymous'></script>
		<script src='{{ layout.cdnjs_libs }}/highlight.js/9.12.0/highlight.min.js' integrity='sha384-ZeLYJ2PNSQjvogWP559CDAf02Qb8FE5OyQicqtz/+UhZutbrwyr87Be7NPH/RgyC' crossorigin='anonymous'></script>
		<script src='{{ layout.cdnjs_libs }}/highlight.js/9.12.0/languages/cpp.min.js' integrity='sha384-ym1mNTxz+QpVTTiHf7i5cXz4YBzHvs+PsFxUEcTU0/Hfcs5iaFr2hYKBEBZqbrnt' crossorigin='anonymous'></script>
		<script src='{{ layout.cdnjs_libs }}/highlight.js/9.12.0/languages/glsl.min.js' integrity='sha384-WW/56CjxoJng+zfBlADEkm74yGpoHaS8brRP/vIzmABMe4JumR9sujbyabam2djA' crossorigin='anonymous'></script>
		<script src='{{ layout.cdnjs_libs }}/frappe-charts/1.1.0/frappe-charts.min.iife.js' integrity='sha384-maB+gauj9fu+/9ryCIt+yJJvxiUEqBti4YnmU81e1f42E2snxPe5r8CeHH6zKhZC' crossorigin='anonymous'></script>
		<script type='text/x-mathjax-config'>
			MathJax.Hub.Config({
				TeX: {
					Macros: {
						boldVec:   ["\\boldsymbol{#1}", 1],
						vecDef:    ["{\\left\\langle #1 \\right\\rangle}", 1],
						unitVec:   ["\\boldVec{\\hat{#1}}", 1],
						norm:      ["{\\left\\lVert #1 \\right\\rVert}", 1],
						normalize: ["\\frac{#1}{\\norm{#1}}", 1],
						inlineFraction:  ["\\left.\\raise{0.2em}{\\small #1}\\middle/\\lower{0.2em}{\\small #2}\\right.", 2],
						inlineNormalize: ["\\inlineFraction{#1}{\\norm{#1}}", 1],
						NdotL:     "{\\unitVec{n}\\cdot\\unitVec{l}}",
						NdotV:     "{\\unitVec{n}\\cdot\\unitVec{v}}",
						NdotH:     "{\\unitVec{n}\\cdot\\unitVec{h}}",
						VdotH:     "{\\unitVec{v}\\cdot\\unitVec{h}}"
					}
				}
			});
		</script>
		<script type='text/javascript'
			src='{{ layout.cdnjs_libs }}/mathjax/2.7.3/MathJax.js?config=TeX-AMS_HTML'>
		</script>
		<script src='/lib/require.js'></script>
		<script>
			requirejs.config({
				baseUrl: '/',
				paths: {
					require: 'lib/require',
					math:    'lib/math.min',
					arcade:  'arcade/lib'
				}
			});
		</script>
	</head>
	<body>
		<div id='ml-header'>
			<a id='ml-title' href='/'>
				<h1>{{ site.data.info.name }}</h1>
				{%if page.section %}
				<h2>{{ page.section }}</h2>
				{% endif %}
			</a>
			<div id='ml-nav'>
				<a class='ml-item' href='/blog/'  ><h2>
					<i class='ml-icon fa fa-pencil'></i>
					<span class='ml-text'>Blog</span>
				</h2></a>
				<a class='ml-item' href='/resume/'><h2>
					<i class='ml-icon fa fa-briefcase'></i>
					<span class='ml-text'>Resume</span>
				</h2></a>
				<!--
				<a class='ml-item' href='/arcade/'><h2>
					<i class='ml-icon fa fa-gamepad'></i>
					<span class='ml-text'>Arcade</span>
				</h2></a>
				-->
				<a class='ml-item' href='https://github.com/zvxryb'><h2>
					<i class='ml-icon fa fa-github-alt'></i>
					<span class='ml-text'>Github</span>
				</h2></a>
			</div>
			<div id='ml-about'>
				{% capture about %}{% include about.md %}{% endcapture %}
				{{ about | markdownify }}
			</div>
		</div>
		<div>
			<div id='ml-content'>
			{{ content }}
			</div>
		</div>
	</body>
</html>

